<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.winapp.wmsSQL">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location. -->

    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <!--bibo01 : hardware option-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <!-- Include "neverForLocation" only if you can strongly assert that
       your app never derives physical location from Bluetooth scan results. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="s"
        android:usesPermissionFlags="neverForLocation" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.mount_unmount_filesystems" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".thermalprinter.App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl">
        <activity
            android:name=".activity.StockProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".salesreturn.NewSalesReturnProductAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salesreturn.NewSalesReturnListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportPreview.ReceiptDetailPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.CustomerLisrOutstandPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.ReceiptSummaryPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoCustomerOutstandPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.SapStockSummaryOpenPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoCustomerOutstandDatePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printpreview.GoodReceiptPrintPreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".activity.StockTakePreviewPrintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StockTakeAddActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.SapStockSummaryPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.SapStockReturnPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoInvoicebyProductPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoReceiptSettlePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoInvoicebySummaryPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoSettlementPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewExpensePrintPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodReceiptProductAddActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.GoodIssueProductAddActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.GoodIssueListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GoodReceiptListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".printpreview.GoodIssuePrintPreview"
            android:exported="false"
            android:screenOrientation="portrait"
       />
        <activity
            android:name=".activity.StockTakeListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PurchaseInvoiceListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ReportPreview.SapSalesSummaryPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportPreview.RoProductStockPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printpreview.NewInvoicePrintPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PurchasePrintPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferPreviewPrintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilterCustomerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StockRequestListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TransferProductAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewExpenseModuleListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewExpenseModuleAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateNewInvoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newtransfer.TransferInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferListProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewPickListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
      />
        <activity
            android:name=".activity.PickListDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".activity.NewPickListAddActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.TransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GRAActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GRAListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printpreview.SettlementPrintPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettlementListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeliveryOrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".printpreview.DOPrintPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewCashCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.GraphDashboardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductStockAnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

<!--        <activity android:name="com.winapp.saperpSQL.googlemap.CustomerLocationActivity" />-->
<!--        <activity android:name="com.winapp.saperpSQL.googlemap.MapBoxActivity" />-->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".googlemap.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activity.NewCompanySwitchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductAnalyzeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReOrderCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".receipts.ReceiptsPrintPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salesreturn.SalesReturnPrintPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".salesreturn.SalesReturnActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:windowTranslucentNavigation="true"
            android:windowTranslucentStatus="true" />
        <activity
            android:name=".activity.NewInvoiceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".printer.zqprinter.printingutils.DeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printpreview.SalesOrderPrintPreview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printpreview.InvoicePrintPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".printer.PrinterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ShowCatagoryActivity" />
        <activity
            android:name=".receipts.ReceiptsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CategoriesActivity" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrinterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.DeviceListActivity"
            android:screenOrientation="portrait" /> <!-- android:theme="@android:style/Theme.DeviceDefault.Dialog" -->
        <!-- /> -->
        <activity
            android:name=".activity.CashCollectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".utils.BarCodeScanner" />
        <activity android:name=".activity.NavigationActivity" />
        <activity
            android:name=".activity.MainHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddInvoiceActivityOld"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:windowTranslucentNavigation="true"
            android:windowTranslucentStatus="true" />
        <activity
            android:name=".activity.CustomerSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainDashboardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InvoiceListActivityCopy"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SalesOrderListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OTPVerification"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ValidateUrlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InvoiceTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchedulingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchProductActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".utils.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver> <!-- Firebase Notifications -->
        <service android:name=".firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service android:name=".firebase.MyFirebaseInstanceIDService"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        <meta-data-->
<!--            android:name="firebase_crashlytics_collection_enabled"-->
<!--            android:value="true" />-->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

    </application>

</manifest>